a{
  -webkit-tap-highlight-color:rgba(119,119,119,0.5);
}
a.list-group-item:visited { color: #000090; }

.date{
  font-size: xx-small;
}
body {
	font-family:Helvetica, Arial, sans-serif;
}
.container{
width:auto;
}
#hometilte{
  background-color:#3A3434;
  color:white;
  padding:10px;
  margin-top:10px;
  margin-bottom:20px;
  text-align:center;
}
